{%- assign splitDescription = product.description | split: '####' -%}
{%- assign sizeDes0 = splitDescription[0] | size -%}
{%- assign sizeDes1 = splitDescription[1] | size -%}

{%- assign discount = product.variants[0].compare_at_price
  | minus: product.variants[0].price
  | divided_by: product.variants[0].compare_at_price
  | times: 100
  | round
-%}
{%- assign percent = product.variants[0].compare_at_price
  | minus: product.variants[0].price
  | divided_by: product.variants[0].compare_at_price
  | times: 100
-%}
{%- if percent > 99 -%}{%- assign discount = 99 -%}{%- endif -%}
{%- if percent < 1 -%}{%- assign discount = 1 -%}{%- endif -%}
{%- assign onSale = false -%}
{%- if percent > 0 and percent < 100 -%}{%- assign onSale = true -%}{%- endif -%}

{%- assign proId = product.id -%}
<div class="main-product {{ style_gallery }}">
  <div class="main-product-breadcrumb" title="{{ product.title }}">
    <div class="container">
      <div hidden class="section-title-all">
        <h1>{{ product.title }}</h1>
      </div>
      {%- include 'shop-breadcrumb' -%}
    </div>
  </div>
  {%- if product.images.size > 0 -%}
    {%- if style_gallery == 'style5' -%}
      <div class="main-product-feature-outside">
        <!-- Style 5 -->
        {%- include 'product-gallery-style5' -%}
      </div>
    {%- endif -%}
  {%- endif -%}
  <div class="container">
    <!-- Flash Sale -->
    {%- if settings.shop_shopping_status -%}
      {%- for collection in product.collections -%}
        {%- if collection.handle == collections[settings.home_flashsale_collection].handle -%}
          <div class="productFSale">
            <img
              loading="lazy"
              decoding="async"
              src="https://file.hstatic.net/200000306687/file/ezgif.com-gif-maker_40e5c36d115b4904babbebc78c90c34e.gif"
              alt="productFSale"
            >
            <div data-time="{{ settings.home_fsale_time }}" class="countdownLoop"></div>
            <a
              href="{{ collection.url }}"
              aria-label="Xem toàn bộ sản phẩm Flash Sale"
              title="Xem toàn bộ sản phẩm Flash Sale"
              >Xem toàn bộ sản phẩm Flash Sale</a
            >
          </div>
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    <!-- End Flash Sale -->
    <div class="main-product-wrap">
      <div class="main-product-left main-product-feature" data-style="{{ style_gallery }}">
        {%- if product.images.size > 0 -%}
          {%- if style_gallery == 'style1' -%}
            <!-- Style 1 -->
            {%- include 'product-gallery-style1' -%}
            <!-- End Style 1 -->
          {%- elsif style_gallery == 'style2' -%}
            <!-- Style 2 -->
            {%- include 'product-gallery-style2' -%}
            <!-- End Style 2 -->
          {%- elsif style_gallery == 'style3' -%}
            <!-- Style 3 -->
            {%- include 'product-gallery-style3' -%}
            <!-- End Style 3 -->
          {%- elsif style_gallery == 'style4' -%}
            <!-- Style 4 -->
            {%- include 'product-gallery-style4' -%}
            <!-- End Style 4 -->
          {%- endif -%}
        {%- else -%}
          <img
            class="w-auto"
            src="https://theme.hstatic.net/200000588277/1000936869/14/no_image.jpg?v=1"
            alt="{{ product.title }}"
            title="{{ product.title }}"
          >
        {%- endif -%}
      </div>
      <div class="main-product-right">
        {%- if settings.main_product_share_check -%}
          <div class="main-product-share">
            <button type="button" data-type="main-product-share-overplay" class="main-product-share-overplay"></button>
            <button
              type="button"
              data-type="main-product-share-open-popup"
              class="main-product-share-cta"
              title="Chia sẻ"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="#595959" d="M19 3c-1.652 0-3 1.348-3 3 0 .46.113.895.3 1.285L12.587 11h-4.77A2.999 2.999 0 005 9c-1.652 0-3 1.348-3 3s1.348 3 3 3c1.3 0 2.402-.84 2.816-2h4.77l3.715 3.715c-.188.39-.301.824-.301 1.285 0 1.652 1.348 3 3 3s3-1.348 3-3-1.348-3-3-3c-.46 0-.895.113-1.285.3l-3.3-3.3 3.3-3.3c.39.187.824.3 1.285.3 1.652 0 3-1.348 3-3s-1.348-3-3-3z"></path>
              </svg>
            </button>
            <div class="main-product-share-popup">
              <div class="main-product-share-popup-head">
                <label>Chia sẻ</label>
                <a
                  target="_blank"
                  aria-label="Chia sẻ Facebook"
                  title="Chia sẻ Facebook"
                  href="https://www.facebook.com/sharer.php?u=https:{{ shop.url }}{{ product.url }}"
                >
                  <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27 0H5a5 5 0 00-5 5v22a5 5 0 005 5h22a5 5 0 005-5V5a5 5 0 00-5-5z" fill="#1778F2"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.314 32V19.499h3.255L24 15.19h-3.686l.006-2.156c0-1.123.1-1.725 1.623-1.725h2.034V7h-3.255c-3.91 0-5.285 2.09-5.285 5.604v2.587H13v4.308h2.437V32h4.877z" fill="#fff"></path>
                  </svg>
                </a>
                <a
                  target="_blank"
                  aria-label="Chia sẻ Facebook"
                  title="Chia sẻ Twitter"
                  href="https://twitter.com/intent/tweet?url=https:{{ shop.url }}{{ product.url }}"
                >
                  <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="4" fill="#1FA1F3"></rect><path fill-rule="evenodd" clip-rule="evenodd" d="M15.73 13.235l.04.634-.674-.077c-2.455-.298-4.6-1.308-6.42-3.004l-.89-.841-.23.621c-.485 1.385-.175 2.848.836 3.832.54.544.419.622-.512.298-.324-.104-.607-.181-.634-.143-.094.091.23 1.27.486 1.735.35.648 1.065 1.282 1.847 1.657l.661.298-.782.013c-.755 0-.782.013-.701.285.27.841 1.335 1.735 2.522 2.123l.836.272-.728.414a7.894 7.894 0 01-3.615.958c-.607.013-1.106.065-1.106.104 0 .13 1.646.854 2.603 1.14 2.873.84 6.285.478 8.848-.959 1.82-1.023 3.642-3.055 4.491-5.023.459-1.049.918-2.965.918-3.884 0-.596.04-.673.795-1.385.445-.415.864-.868.945-.997.134-.246.12-.246-.567-.026-1.146.388-1.308.337-.742-.246.418-.414.917-1.165.917-1.385 0-.04-.202.026-.431.142-.243.13-.783.324-1.187.44l-.729.22-.66-.427c-.364-.233-.877-.492-1.147-.57-.688-.18-1.74-.155-2.36.052-1.686.583-2.752 2.085-2.63 3.729z" fill="#fff"></path>
                  </svg>
                </a>
                <a
                  target="_blank"
                  aria-label="Chia sẻ Facebook"
                  title="Chia sẻ WhatsApp"
                  href="https://wa.me/?text=https:{{ shop.url }}{{ product.url }}"
                >
                  <svg
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    stroke-linejoin="round"
                    stroke-miterlimit="2"
                  >
                    <path d="M116.225-.001c-11.264.512-26.112 1.536-32.768 3.072-10.24 2.048-19.968 5.12-27.648 9.216-9.728 4.608-17.92 10.752-25.088 17.92-7.68 7.68-13.824 15.872-18.432 25.6-4.096 7.68-7.168 17.408-9.216 27.648-1.536 6.656-2.56 21.504-2.56 32.768-.512 4.608-.512 10.752-.512 13.824v265.729c.512 11.264 1.536 26.112 3.072 32.768 2.048 10.24 5.12 19.968 9.216 27.648 4.608 9.728 10.752 17.92 17.92 25.088 7.68 7.68 15.872 13.824 25.6 18.432 7.68 4.096 17.408 7.168 27.648 9.216 6.656 1.536 21.504 2.56 32.768 2.56 4.608.512 10.752.512 13.824.512h265.728c11.264-.512 26.112-1.536 32.768-3.072 10.24-2.048 19.968-5.12 27.648-9.216 9.728-4.608 17.92-10.752 25.088-17.92 7.68-7.68 13.824-15.872 18.432-25.6 4.096-7.68 7.168-17.408 9.216-27.648 1.536-6.656 2.56-21.504 2.56-32.768.512-4.608.512-10.752.512-13.824V116.223c-.512-11.264-1.536-26.112-3.072-32.768-2.048-10.24-5.12-19.968-9.216-27.648-4.608-9.728-10.752-17.92-17.92-25.088-7.68-7.68-15.872-13.824-25.6-18.432-7.68-4.096-17.408-7.168-27.648-9.216-6.656-1.536-21.504-2.56-32.768-2.56-4.608-.512-10.752-.512-13.824-.512H116.225z" fill="url(#whatsApp_svg___Linear1)" fill-rule="nonzero"></path><path d="M344.754 289.698c-4.56-2.282-26.98-13.311-31.161-14.832-4.18-1.521-7.219-2.282-10.259 2.282-3.041 4.564-11.78 14.832-14.44 17.875-2.66 3.042-5.32 3.423-9.88 1.14-4.561-2.281-19.254-7.095-36.672-22.627-13.556-12.087-22.709-27.017-25.369-31.581s-.283-7.031 2-9.304c2.051-2.041 4.56-5.324 6.84-7.986 2.28-2.662 3.04-4.564 4.56-7.606 1.52-3.042.76-5.705-.38-7.987-1.14-2.282-10.26-24.72-14.06-33.848-3.701-8.889-7.461-7.686-10.26-7.826-2.657-.132-5.7-.16-8.74-.16-3.041 0-7.98 1.141-12.161 5.704-4.18 4.564-15.96 15.594-15.96 38.032 0 22.438 16.34 44.116 18.62 47.159 2.281 3.043 32.157 49.089 77.902 68.836 10.88 4.697 19.374 7.501 25.997 9.603 10.924 3.469 20.866 2.98 28.723 1.806 8.761-1.309 26.98-11.029 30.781-21.677 3.799-10.649 3.799-19.777 2.659-21.678-1.139-1.902-4.179-3.043-8.74-5.325m-83.207 113.573h-.061c-27.22-.011-53.917-7.32-77.207-21.137l-5.539-3.287-57.413 15.056 15.325-55.959-3.608-5.736c-15.184-24.145-23.203-52.051-23.192-80.704.033-83.611 68.083-151.635 151.756-151.635 40.517.016 78.603 15.811 107.243 44.474 28.64 28.663 44.404 66.764 44.389 107.283-.035 83.617-68.083 151.645-151.693 151.645m129.102-280.709c-34.457-34.486-80.281-53.487-129.103-53.507-100.595 0-182.468 81.841-182.508 182.437-.013 32.156 8.39 63.546 24.361 91.212l-25.892 94.545 96.75-25.37c26.657 14.535 56.67 22.194 87.216 22.207h.075c100.586 0 182.465-81.852 182.506-182.448.019-48.751-18.946-94.59-53.405-129.076" fill="#fff"></path><defs><linearGradient gradientTransform="matrix(0 -512 -512 0 256.001 512)" gradientUnits="userSpaceOnUse" id="whatsApp_svg___Linear1" x1="0" x2="1" y1="0" y2="0"><stop offset="0" stop-color="#25cf43"></stop><stop offset="1" stop-color="#61fd7d"></stop></linearGradient></defs>
                  </svg>
                </a>
                <a
                  target="_blank"
                  aria-label="Chia sẻ Facebook"
                  title="Chia sẻ Linkedin"
                  href="https://www.linkedin.com/sharing/share-offsite/?url=https:{{ shop.url }}{{ product.url }}"
                >
                  <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="4" fill="#0077B5"></rect><path fill-rule="evenodd" clip-rule="evenodd" d="M10.857 9.07c-.022-1.094-.744-1.927-1.917-1.927S7 7.976 7 9.07C7 10.142 7.744 11 8.895 11h.022c1.196 0 1.94-.858 1.94-1.93zm0 3.216H7v11.571h3.857V12.286zm9.294 0c2.771 0 4.849 1.616 4.849 5.089v6.482h-4.212V17.81c0-1.52-.609-2.556-2.134-2.556-1.163 0-1.856.698-2.16 1.373-.112.242-.14.58-.14.917v6.314h-4.211s.055-10.244 0-11.305h4.212v1.601c.559-.77 1.56-1.867 3.796-1.867z" fill="#fff"></path>
                  </svg>
                </a>
              </div>
              <hr>
              <div class="main-product-share-popup-body">
                <label>Sao chép đường dẫn</label>
                <form>
                  <input value="https:{{ shop.url }}{{ product.url }}" readonly id="main-product-share-copy">
                  <button type="button" title="Sao chép" data-type="main-product-share-copy">Sao chép</button>
                </form>
              </div>
            </div>
          </div>
        {%- endif -%}

        <h1 class="main-product-title {% unless settings.main_product_share_check %}noShare{% endunless %}">
          {{ product.title }}
        </h1>

        {%- assign quanban = 0 -%}
        {%- for tag in product.tags -%}
          {%- if tag contains 'dabanra_' -%}
            {%- assign this_qty = tag | remove: 'dabanra_' | times: 1 -%}
            {%- assign quanban = quanban | plus: this_qty -%}
          {%- endif -%}
        {%- endfor -%}

        <div class="flexquanflz">
          <div
            class="starbaprv-widget starbaprv-preview-badge starbaprv-preview-badge--with-link"
            data-id="{{product.id}}"
            data-url="{{product.handle}}"
          >
            {% if product.metafields.starbap['starbaprv.badge'] %}
              {{ product.metafields.starbap['starbaprv.badge'] }}
            {% endif %}
          </div>

          <div class="product-sold" style="">Đã bán: {{ product.sold_quantity | plus: quanban }}</div>
        </div>

        {% include 'salea' %}

        <div class="main-product-info">
          <div class="main-product-info-vendor">
            <strong>Thương hiệu: </strong>
            <span>
              {%- if product.vendor != null and product.vendor != '' -%}
                {{ product.vendor }}
              {%- else -%}
                Đang cập nhật
              {%- endif -%}
            </span>
          </div>
          <div class="main-product-info-type">
            <strong>Dòng sản phẩm: </strong>
            <span>
              {%- if product.type != null and product.type != '' -%}
                {{ product.type }}
              {%- else -%}
                Đang cập nhật
              {%- endif -%}
            </span>
          </div>
          {%- for tag in product.tags -%}
            {%- if tag contains 'label_' -%}
              <div class="main-product-info-tag">
                {%- if tag contains ':' -%}
                  {%- assign tagRemove = tag | remove: 'label_' -%}
                  {%- assign tagSplit = tagRemove | split: ':' -%}
                  <strong>{{ tagSplit[0] }}:</strong>
                  <span>{{ tagSplit[1] }}</span>
                {%- else -%}
                  <span>{{ tagRemove }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
        {%- if settings.shop_shopping_status -%}
          <div class="main-product-price">
            <div class="main-product-price-wrap">
              <del
                {% unless onSale %}
                  hidden
                {% endunless %}
                class="main-product-price-compare"
              >
                {{- product.variants.first.compare_at_price | money -}}
              </del>

              {%- if product.variants.first.price != 0 -%}
                <span class="main-product-price-this">{{ product.variants.first.price | money }}</span>
              {%- else -%}
                <span class="main-product-price-this contact">
                  <strong>{{ settings.main_product_price_contact_text }}</strong>
                </span>
              {%- endif -%}

              <span
                {% unless onSale %}
                  hidden
                {% endunless %}
                class="main-product-price-discount"
                >Tiết kiệm {{ discount }}%</span
              >
            </div>
          </div>
          {%- assign shortDescFromProductTab = '' -%}
          {%- assign tabs = product.metafields.hrvptabs.tabs -%}
          {%- if tabs and tabs != blank -%}
            {%- assign tabList = tabs | append: '' | split: '@@###@@' -%}
            {%- for tab in tabList limit: 1 -%}
              {%- assign shortDescFromProductTab = tab | split: '@@##@@' | last -%}
            {%- endfor -%}
          {%- endif -%}
          {%- if shortDescFromProductTab != blank -%}
            <div class="main-product-short-description">
              {{
                shortDescFromProductTab
                | replace: 'div', 'p'
                | replace: 'src', 'class="w-auto" loading="lazy" decoding="async" src'
              }}
            </div>
          {%- endif -%}
          <div class="d-none">
            <select id="main-product-select" name="id">
              {%- for variant in product.variants -%}
                <option value="{{ variant.id }}">{{ variant.title }}</option>
              {%- endfor -%}
            </select>
          </div>
          <div class="main-product-swatch">
            {%- if product.variants.size >= 1 -%}
              {%- include 'swatch' -%}
            {%- endif -%}
          </div>
          <div class="main-product-quantity shop-quantity-wrap">
            <label>Số lượng</label>
            <div class="shop-quantity">
              <button type="button" data-type="shop-quantity-minus" title="Giảm">-</button>
              <input type="number" name="quantity" value="1" min="1" readonly>
              <button type="button" data-type="shop-quantity-plus" title="Tăng">+</button>
            </div>
          </div>

          <div class="main-product-coupon">
            {%- if settings.shop_coupon_check -%}
              <div class="shop-coupon">
                <label
                  >Voucher ưu đãi:
                  <img
                    class="lazyload"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                    data-src="https://bizweb.dktcdn.net/100/453/837/files/757cf2944edb87314287b95cd98fd731-1.gif?v=1654078396653"
                    alt="coupon"
                ></label>
                <ul>
                  {%- for i in (1..3) -%}
                    {%- capture check -%}shop_coupon_item_check_{{ i }}{%- endcapture -%}
                    {%- capture image -%}shop_coupon_item_image_{{ i }}.png{%- endcapture -%}
                    {%- if settings[check] -%}
                      <li class="shop-coupon-modal" data-fancybox data-src="#shop-coupon-popup">
                        <img
                          class="lazyload"
                          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                          data-src="{{ image | asset_url }}"
                          alt="cusPro-coupon-{{ i }}"
                        >
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          </div>

          <div class="main-product-freeship">
            {%- include 'shop-freeship' -%}
          </div>
          <div class="main-product-cta">
            {%- if product.first_available_variant.price != 0 and product.available -%}
              <button type="button" data-type="main-product-add" title="Thêm vào giỏ">
                <strong>Thêm vào giỏ</strong>
                <span>Chọn ngay sản phẩm bạn yêu thích</span>
              </button>
              <button type="button" data-type="main-product-buy-now" class="main-product-buy-now" title="Mua ngay">
                <strong>Mua ngay</strong>
                <span>Thanh toán nhanh sản phẩm này</span>
              </button>
            {%- else -%}
              <button type="button" data-type="main-product-add" disabled title="Tạm hết hàng">
                <strong>Tạm hết hàng</strong>
                <span>Liên hệ để được tư vấn thêm</span>
              </button>
            {%- endif -%}
          </div>
          <div class="product-deliverly mb-0">
            <div class="deliverly-inner">
              <div class="m-0 infoList-deliverly">
                <div class="deliverly-item">
                  <span>
                    <img
                      loading="lazy"
                      decoding="async"
                      src="//theme.hstatic.net/1000141988/1001377521/14/product_deliverly_1_ico.png?v=410"
                      alt="Giao Hàng Nội Thành 4 Giờ"
                      width="30"
                      height="30"
                    >
                  </span>
                  Giao Hàng Nội Thành 4 Giờ
                </div>
                <div class="deliverly-item">
                  <span>
                    <img
                      loading="lazy"
                      decoding="async"
                      src="//theme.hstatic.net/1000141988/1001377521/14/product_deliverly_2_ico.png?v=410"
                      alt="Giao Hàng Toàn Quốc Với Thực Phẩm Khô"
                      width="30"
                      height="30"
                    >
                  </span>
                  Giao Hàng Toàn Quốc Với Thực Phẩm Khô
                </div>
                <div class="deliverly-item">
                  <span>
                    <img
                      loading="lazy"
                      decoding="async"
                      src="//theme.hstatic.net/1000141988/1001377521/14/product_deliverly_3_ico.png?v=410"
                      alt="Kiểm Tra Nhận Hàng"
                      width="30"
                      height="30"
                    >
                  </span>
                  Kiểm Tra Nhận Hàng
                </div>
                <div class="deliverly-item">
                  <span>
                    <img
                      loading="lazy"
                      decoding="async"
                      src="//theme.hstatic.net/1000141988/1001377521/14/product_deliverly_4_ico.png?v=410"
                      alt="Đổi trả trong 48 giờ nếu sản phẩm không đạt chất lượng cam kết"
                      width="30"
                      height="30"
                    >
                  </span>
                  Đổi trả trong 48 giờ nếu sản phẩm không đạt chất lượng cam kết
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="main-product-description inSidebar">
      <div class="main-product-description-items">
        <div class="main-product-description-item active" data-type="des">
          <span class="main-product-description-item-head">Mô tả sản phẩm</span>
          <div class="main-product-description-item-data-wrap">
            <div class="main-product-description-item-data">
              {%- if product.description != null and product.description != '' -%}
                {{
                  product.description
                  | replace: 'div', 'p'
                  | replace: 'src', 'class="w-auto" loading="lazy" decoding="async" src'
                }}
              {%- else -%}
                Nội dung đang được cập nhật
              {%- endif -%}
            </div>
          </div>
        </div>
        {%- if settings.main_product_tab1_check -%}
          <div
            class="main-product-description-item {% if style_gallery == "style5" %} active{% endif %}"
            data-type="page1"
          >
            <span class="main-product-description-item-head">{{ settings.main_product_tab1_title }}</span>
            <div class="main-product-description-item-data-wrap">
              {%- if pages[settings.main_product_tab1_handle] and pages[settings.main_product_tab1_handle]content != "" -%}
                <div class="main-product-description-item-data">
                  {{ pages[settings.main_product_tab1_handle]content | replace: 'div', 'p' | replace: 'src', 'class="w-auto" loading="lazy" decoding="async" src' }}
                </div>
              {%- else -%}
                Nội dung đang được cập nhật
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        {%- if settings.main_product_tab2_check -%}
          <div
            class="main-product-description-item {% if style_gallery == "style5" %} active{% endif %}"
            data-type="page2"
          >
            <span class="main-product-description-item-head">{{ settings.main_product_tab2_title }}</span>
            <div class="main-product-description-item-data-wrap">
              {%- if pages[settings.main_product_tab2_handle] and pages[settings.main_product_tab2_handle]content != "" -%}
                <div class="main-product-description-item-data">
                  {{ pages[settings.main_product_tab2_handle]content | replace: 'div', 'p' | replace: 'src', 'class="w-auto" loading="lazy" decoding="async" src' }}
                </div>
              {%- else -%}
                Nội dung đang được cập nhật
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        {%- if settings.main_product_tab3_check -%}
          <div
            class="main-product-description-item {% if style_gallery == "style5" %} active{% endif %}"
            data-type="page3"
          >
            <span class="main-product-description-item-head">{{ settings.main_product_tab3_title }}</span>
            <div class="main-product-description-item-data-wrap">
              {%- if pages[settings.main_product_tab3_handle] and pages[settings.main_product_tab3_handle]content != "" -%}
                <div class="main-product-description-item-data">
                  {{ pages[settings.main_product_tab3_handle]content | replace: 'div', 'p' | replace: 'src', 'class="w-auto" loading="lazy" decoding="async" src' }}
                </div>
              {%- else -%}
                Nội dung đang được cập nhật
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- assign tabs = product.metafields.hrvptabs.tabs -%}
    {%- assign tabList = '' -%}
    {%- if tabs and tabs != blank -%}
      {%- assign tabList = tabs | append: '' | split: '@@###@@' -%}
    {%- endif -%}

    {%- assign videoTab2Content = '' -%}
    {%- assign videoTab2LiParts = '' -%}
    {%- assign videoTab2Count = 0 -%}
    {%- if tabList != blank -%}
      {%- for tab in tabList limit: 1 offset: 1 -%}
        {%- assign videoTab2Content = tab | split: '@@##@@' | last -%}
      {%- endfor -%}
      {%- if videoTab2Content != blank -%}
        {%- assign videoTab2LiParts = videoTab2Content | split: '<li>' -%}
        {%- assign videoTab2Count = videoTab2LiParts.size | minus: 1 -%}
      {%- endif -%}
    {%- endif -%}

    {%- if videoTab2Content != blank -%}
      <div class="main-product-video-section main-product-video-section--tab2">
        {%- if videoTab2Count > 0 -%}
          <div
            class="main-product-video-content"
            data-type="product-tab-video-slider"
            data-video-count="{{ videoTab2Count }}"
            data-slides-desktop="4"
          >
            <div class="main-product-video-slider main-product-video-slider--4col">
              {%- for liPart in videoTab2LiParts offset: 1 -%}
                {%- assign liRaw = liPart | split: '</li>' | first | strip -%}
                {%- assign mp4Url = liRaw | strip_html | strip -%}
                {%- if mp4Url != blank -%}
                  <div class="main-product-video-slide">
                    <video autoplay muted loop controls preload="metadata" playsinline>
                      <source src="{{ mp4Url }}" type="video/mp4">
                    </video>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- else -%}
          <div class="main-product-video-content" data-type="product-tab-video">
            {{ videoTab2Content }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- assign videoTab3Content = '' -%}
    {%- assign videoTab3LiParts = '' -%}
    {%- assign videoTab3Count = 0 -%}
    {%- if tabList != blank -%}
      {%- for tab in tabList limit: 1 offset: 2 -%}
        {%- assign videoTab3Content = tab | split: '@@##@@' | last -%}
      {%- endfor -%}
      {%- if videoTab3Content != blank -%}
        {%- assign videoTab3LiParts = videoTab3Content | split: '<li>' -%}
        {%- assign videoTab3Count = videoTab3LiParts.size | minus: 1 -%}
      {%- endif -%}
    {%- endif -%}
    {%- if videoTab3Content != blank -%}
      <div class="main-product-video-section main-product-video-section--tab3">
        {%- if videoTab3Count > 0 -%}
          <div
            class="main-product-video-content"
            data-type="product-tab-video-slider"
            data-video-count="{{ videoTab3Count }}"
            data-slides-desktop="2"
          >
            <div class="main-product-video-slider main-product-video-slider--2col">
              {%- for liPart in videoTab3LiParts offset: 1 -%}
                {%- assign liRaw = liPart | split: '</li>' | first | strip -%}
                {%- assign mp4Url = liRaw | strip_html | strip -%}
                {%- if mp4Url != blank -%}
                  <div class="main-product-video-slide">
                    <video autoplay muted loop controls preload="metadata" playsinline>
                      <source src="{{ mp4Url }}" type="video/mp4">
                    </video>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- else -%}
          <div class="main-product-video-content" data-type="product-tab-video">
            {{ videoTab3Content }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="main-product-relate-revicve">
      <div style="clear:both"></div>
      <div
        id="startbap_product_reviews"
        class="starbap-widget starbap-review-widget"
        data-product-title="{{product.title}}"
        data-url="{{product.url}}"
        data-img="{{product.featured_image}}"
        data-id="{{product.id}}"
        data-customer="{{customer.email}} "
      >
        {{ product.metafields.starbap['starbaprv.widget'] }}
        <div style="clear:both"></div>
      </div>
    </div>
    {%- include 'home-letter' -%}
    {%- if settings.main_product_relate_check -%}
      <div class="main-product-relate">
        <div class="section-title-all">
          <h2 style="--line-bg: {{settings.main_product_relate_title_line}}">
            {{ settings.main_product_relate_title }}
          </h2>
        </div>
        <div class="main-product-relate-data">
          {%- if collections[product.collections.first.handle]
            and collections[product.collections.first.handle].products_count > 0
          -%}
            {%- for product in collections[product.collections.first.handle]products limit: settings.main_product_relate_limit -%}
              {%- assign linkIndex = forloop.index -%}
              {%- unless proId == product.id -%}
                {%- include 'product-item' -%}
              {%- endunless -%}
            {%- endfor -%}
          {%- else -%}
            {%- if collections.all.products_count > 0 -%}
              {%- for product in collections.all.products limit: settings.main_product_relate_limit -%}
                {%- assign linkIndex = forloop.index -%}
                {%- include 'product-item' -%}
              {%- endfor -%}
            {%- else -%}
              <p class="text-center">Chưa có sản phẩm thuộc {{ settings.main_product_relate_title }}</p>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    {%- if settings.main_product_seen_check -%}
      <div class="main-product-seen">
        <div class="section-title-all">
          <h2 style="--line-bg: {{settings.main_product_seen_title_line}}">{{ settings.main_product_seen_title }}</h2>
        </div>
        <div class="main-product-seen-data"></div>
      </div>
    {%- endif -%}
  </div>
</div>
{%- if settings.display_sidebar_bottom_product -%}{%- include 'sidebar-action-product' -%}{%- endif -%}
{%- if settings.use_preorder_new -%}
  <div class="modal fade" role="dialog" id="preOrder-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h5>{{ settings.home_letter_subtitlenwe }}</h5>
          <div class="preOrder-modal-wrap">
            {%- capture formContact -%}
        {%- form 'contact' -%}		
        <input required type="text" name="contact[name]" value="" placeholder="Họ tên của bạn">
        <input required type="email" name="contact[email]" value="" placeholder="Email của bạn">
        <input required type="number" name="contact[phone]" value="" placeholder="Số điện thoại của bạn">
        <input type="text" readonly value="" id="preOrder-hard">
        <textarea name="contact[body]" placeholder="Nhập nội dung gửi quà"></textarea>
        <button type="submit" title="Đăng ký">Gửi</button>
        {%- endform -%}
        {%- endcapture -%}
            {{ formContact | replace: 'script', 'noscript' | replace: 'noscript src=', 'noscript data-src=' }}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

<style>
  .dabanraa {
    margin: 10px 0;
  }
</style>
